<h1>Listing beta_requests</h1>
<table class="datatable" data-sort="6">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>      
      <th>Kind</th>
      <th>Comments</th>
      <th>Invited By</th>
      <th>Send Invite</th>
      <th>Accepted?</th>
      <th>Created At</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @beta_requests.each do |beta_request| %>
      <tr>
        <% user = beta_request.user %>
        <% if user && user.username %>
          <td>
            <%= link_to beta_request.email, "/#{user.slug}" %>
          </td>
        <% else %>
          <td>
            <%= beta_request.email %>
          </td>
        <% end %>

        <td><%= beta_request.name %></td>
        <td>
          <%= beta_request.kind %>
        </td>
        <td>
          <%= beta_request.comments %>
        </td>
        <% if user  %>
          <% invite_text = link_to "Sent at #{user.invitation_sent_at}", "javascript:alert('Link: /users/invitation/accept?invitation_token=#{user.invitation_token}');"  %>
          <% if user.invitation_accepted_at %>
            <% accepted_text = "#{format_time_with_year(user.invitation_accepted_at)}" %>
          <% else %>
            <% accepted_text = "0" %>
          <% end %>
        <% else %>
          <% invite_text = button_to "send invite", send_invite_beta_request_path(beta_request) %>
        <% end %>
        <% if beta_request.invited_by.nil? %>
          <td>Request form</td>
        <% else %>
          <td>
            <%= link_to beta_request.invited_by.email, beta_request.invited_by %>
          </td>
        <% end %>
        <td>
          <%= invite_text %>
        </td>
        <td>
          <%= accepted_text if defined?(accepted_text)  %>
        </td>
        <td>
          <%= format_time_with_year(beta_request.created_at) %>
        </td>
        <td>
          <%= link_to 'Edit', edit_beta_request_path(beta_request) %>
        </td>
        <td>
          <%= link_to 'Destroy', beta_request, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Beta Request', new_beta_request_path %>


